body {
  
  color:#111133; 
  font-family: sans;
}

td {
  vertical-align:top;

}

a:link { 
    color:blue; text-decoration:none; 
    }
a:visited { 
    color:blue; text-decoration:none; 
    }
a:focus { 
    color:blue; text-decoration:none; 
    }
a:hover { 
    color:blue; text-decoration:underline; 
    }
a:active { 
    color:blue; text-decoration:none; 
    }

hr {
  border: none;
  background-color:gray;
  height:1px;
  margin-top:20px;
  margin-bottom: 5px;
    }
    
#caption {
  font-weight:bold;
  font-size:small;
  font-variant:small-caps;
  padding-bottom:2px;
  margin-bottom:2px;
}

#head {
  border:thin solid grey;
  //background-color: #aaaaaa;
  background-image:url(head.png);
  background-repeat:repeat;
  
  //width:100%;
  margin:0px;
  padding:10px;
  height:30px;
  
  border-radius: 4px;
}

#title {
  text-align:center;
  font-size:large;
  font-weight:bold;
  
}

#nav {
  font-size:small;
}

#menu {
  padding:10px;

}

#clearfloat{
  clear:both;
}

#searchform {

  //border:thin solid grey;
  text-align:center;
  
  padding-top:20px;
  padding-bottom:20px;
 
}
#searchformfield {
  float:left;
  width:48%;
}

#search_item {
  background-color:#fdfdfd;
  border: thin solid gray; 
  padding:10px; 
  margin:10px;
  min-height: 60px;
  border-radius: 4px;
}

#search_item img {
  max-height:60px;
  max-width:90px;
}

#search_navi {
  //border:thin solid green;
  width:150px;
  min-height:400px;
  font-size: x-small;
  
}

.navi-li {
  list-style-type: none;
  padding:0px;
  margin:0px;
  padding-left:5px;
}

#div_search_filters .remove_filter {
  font-size: x-small;
  margin:10px;
} 


#searchresult {
  //border: thin solid red;
  width:auto;
}

.search_report {
  font-size:small;
}

#down {
  height:500px;
  margin:50px;
  padding-top:200px;
  border: thin solid gray;
  text-align:center;

}

#footer {
  font-size:small;
  color:grey;
}

.list  {
  list-style-type: none;
}

.Collapsable {
  padding-left:20px;
}
.NotCollapsable {
  color:rgb(99,99,99);
  padding-left:38px;
}

input[type=text] {
    padding: 7px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}